@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

/*Font Family*/
$nunito: 'Nunito', sans-serif;

/*Colors*/
$dark: #366db4;
$accent: #e3d632;
$rose: #e94b91;
$text: #333333;
$white: #fafafa;

